{{- /*
| $profile | usage                      |
| -------- | -------------------------- |
| home*    | personal                   |
| work     | professional               |
| server   | remote-servers, codespaces |
*/ -}}
{{- $profile := "" -}}
{{- $email := "" -}}

{{- if stdinIsATTY -}}
  {{- $profile = promptStringOnce . "profile" "home|work|server" "home" -}}
  {{- $email = promptStringOnce . "email" "email address" "mdwranger@gmail.com" -}}
{{- else -}}
  {{- $profile = "server" -}}
  {{- $email = "mdwagner@users.noreply.github.com" -}}
{{- end -}}

data:
  profile: {{ $profile | quote }}
  email: {{ $email | quote }}
edit:
  command: nvim
diff:
  exclude:
  - externals
merge:
  command: nvim
  args:
  - "-d"
  - {{ `{{ .Destination }}` | quote }}
  - {{ `{{ .Source }}` | quote }}
  - {{ `{{ .Target }}` | quote }}
