{{- $first_name := promptStringOnce . "first_name" "First Name" "Michael" -}}
{{- $last_name := promptStringOnce . "last_name" "Last Name" "Wagner" -}}
{{- $email := promptStringOnce . "email" "Email" "mdwranger@gmail.com" -}}
{{- $github_user := promptStringOnce . "github_user" "GitHub User Name" "mdwagner" -}}
data:
  first_name: {{ $first_name | quote }}
  last_name: {{ $last_name | quote }}
  full_name: {{ printf "%s %s" $first_name $last_name | quote }}
  email: {{ $email | quote }}
  github_user: {{ $github_user | quote }}
edit:
  command: nvim
diff:
  exclude:
  - externals
merge:
  command: nvim
  args:
  - "-d"
  - {{ `{{ .Destination }}` | quote }}
  - {{ `{{ .Source }}` | quote }}
  - {{ `{{ .Target }}` | quote }}
