{{ if eq .chezmoi.os "darwin" }}
https://nixos.org/channels/nixpkgs-unstable nixpkgs
{{- else -}}
https://nixos.org/channels/nixos-22.11 nixos-22.11
https://nixos.org/channels/nixos-unstable nixos-unstable
{{ end -}}
