[user]
  name = Michael Wagner
  email = {{ .email }}
;[core]
  ;editor = nvim
;[difftool]
  ;prompt = true
;[diff]
  ;tool = nvimdiff
;[difftool "nvimdiff"]
  ;cmd = "nvim -d\"$LOCAL\" \"$REMOTE\""
[credential]
{{- if eq .profile "client" }}
  helper = store
{{- else }}
  helper = "cache --timeout=14400" ;4 hours
  ;helper = !git-credential-1password ;TODO: better alternative
{{- end }}
[alias]
  slog = log --graph --all --topo-order --pretty='format:%h %ai %s%d (%an)'
