# $SHELL
if type -sq fish
  set -gx SHELL (type -P fish)
end

# $GIT_EDITOR
if type -sq nvim
  set -gx GIT_EDITOR (type -P nvim)
end

fish_add_path ~/.local/bin

{{- if eq .chezmoi.os "darwin" }}
if test -f ~/.iterm2_shell_integration.fish
  source ~/.iterm2_shell_integration.fish
end
{{- end }}

# ASDF
{{- if eq .chezmoi.os "darwin" }}
if type -sq brew
  source (brew --prefix asdf)"/libexec/asdf.fish"
end
{{- else }}
source ~/.asdf/asdf.fish
{{- end }}

# 1Password completion
if type -sq op
  op completion fish | source
end

# Deno
set -gx DENO_NO_UPDATE_CHECK 1
