if type -sq fish
  set -gx SHELL (type -P fish)
else if test -x /opt/homebrew/bin/fish
  set -gx SHELL /opt/homebrew/bin/fish
end

if type -sq vi
  set -gx EDITOR (type -P vi)
else if type -sq vim
  set -gx EDITOR (type -P vim)
end

if type -sq nvim
  set -gx GIT_EDITOR (type -P nvim)
end
{{ if eq .chezmoi.os "darwin" }}
fish_add_path /opt/homebrew/bin
fish_add_path /opt/homebrew/sbin
set -gx HOMEBREW_BUNDLE_FILE ~/.config/brewfile/Brewfile
{{ end }}
if test -S ~/.1password/agent.sock
  set -gx SSH_AUTH_SOCK ~/.1password/agent.sock
end

if test -f ~/.asdf/asdf.fish
  source ~/.asdf/asdf.fish
else if type -sq brew && test -d (brew --prefix asdf)
  source (brew --prefix asdf)"/libexec/asdf.fish"
end

if type -sq op
  op completion fish | source
end

if test -f ~/.iterm2_shell_integration.fish
  source ~/.iterm2_shell_integration.fish
end

set -gx DENO_NO_UPDATE_CHECK 1

mkdir -p ~/.local/bin
fish_add_path ~/.local/bin

if type -sq brew
  fish_add_path (brew --prefix llvm@15)"/bin"
  fish_add_path (brew --prefix node@16)"/bin"
end

if test -f ~/.asdf/plugins/golang/set-env.fish
  set -gx ASDF_GOLANG_MOD_VERSION_ENABLED true
  source ~/.asdf/plugins/golang/set-env.fish
end
